.ng-cloak {
	display: none;
}

/* COLORS */

.red { color: #992114; }
.blue { color: blue; }
.green { color: #1A3112; }
.gold { color: #C5A436; }
.white { color: #fff; }
.black { color: #000; }

.bg-blue { background-color: blue; }
.bg-red { background-color: #992114; }
.bg-green { background-color: #1A3112; }
.bg-gold { background-color: #C5A436; }


/* BUTTONS */
.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-black:hover {
	color: #fff;
	background-color: #333;
	border-color: #333;
}
.btn-red {
	color: #fff;
	background-color: #992114;
	border-color: #992114;
}
.btn-red:hover {
	color: #fff;
	background-color: #D24A3C;
	border-color: #D24A3C;
}


/* MODAL */
.modal-body img {
	max-width: 100%;
}


/* SANTAS LIST */
.santas-list button {
	color: #000;
}
.santas-list .present {
	box-shadow: 0 0 4px #333;
}


/*
.debug {
	display: none;
}
*/

