.ng-cloak {
	display: none;
}

/* COLORS */

.red { color: #992114; }
.blue { color: blue; }
.green { color: #1A3112; }
.gold { color: #C5A436; }
.white { color: #fff; }
.black { color: #000; }

.bg-blue { background-color: blue; }
.bg-red { background-color: #992114; }
.bg-green { background-color: #1A3112; }
.bg-gold { background-color: #C5A436; }


/* MODAL */
.modal-body img {
	max-width: 100%;
}


/* SANTAS LIST */
.santas-list button {
	color: #000;
}
.santas-list .present {
	box-shadow: 0 0 4px #333;
}


/*
.debug {
	display: none;
}
*/

