<h1>Santa Dashboard</h1>

<div class="map">

<ul class="santas-list">
  <li class="wish" ng-repeat="message in data" class="white" ng-hide="message.state === 'answered' || message.state === 'unasked'">
    <div class="marker">
      <img src="img/present.png" ng-click="openMessage(message)" />
    </div>
    <div class="panel panel-success panel-{{message.color}}" ng-show="message.state === 'opened'">
      <div class="panel-heading">
        {{message.name}} wants {{message.wish}}
        <button class="debug btn btn-default pull-right delete-btn" ng-click="removeMessage(message)">X</button>
      </div>
      <div class="panel-body">
        <button class="btn btn-success" ng-click="setStatus(message, 'nice')" >nice</button>
        <button class="btn btn-danger" ng-click="setStatus(message, 'naughty')" >naughty</button>
        <div ng-show="false" class="debug"><small><pre>{{message | json}}</pre></small></div>
      </div>
    </div>
  </li>
</ul>

  <img src="img/us-map.jpg" />
</div>
