<h1>santa</h1>

<ul>
  <li ng-repeat="message in data">
    <div class="present {{message.color}}">
      <b>{{message.name}}</b><br />
      {{message.wish}}
      <span ng-show="message.state != 'opened'">
        <button ng-click="openMessage(message)">open</button>
      </span>
      <span ng-show="message.state == 'opened'">
        <button ng-click="setStatus(message, 'yes')">yes</button>
        <button ng-click="setStatus(message, 'no')">no</button>
      </span>
      <button ng-click="removeMessage(message)">X</button>
      <div><small><pre>{{message | json}}</pre></small></div>
    </div>
  </li>
</ul>

