<h1>Santa Dashboard</h1>

<ul>
  <li ng-repeat="message in data">
    <div class="present bg-{{message.color}} col-sm-6">
      <b>{{message.name}}</b><br />
      {{message.wish}}
      <span ng-show="message.state != 'opened'">
        <button ng-click="openMessage(message)">open</button>
      </span>
      <span ng-show="message.state == 'opened'">
        <button ng-click="setStatus(message, 'nice')">nice</button>
        <button ng-click="setStatus(message, 'naughty')">naughty</button>
      </span>
      <button ng-click="removeMessage(message)">X</button>
    </div>
    <div class="col-sm-6 debug"><small><pre>{{message | json}}</pre></small></div>
  </li>
</ul>

