<div class="bg-gradient-red" style="min-height:100vh">
  
<div class="container">
  
<h1 class="font-xmas text-center white" style="padding:1em 0 0;">Make a Wish!</h1>
<h4 class="text-center white">And find out instantly if you've been naughty or nice</h4>

<img class="block-center" src="img/elfs.gif" alt="Elfs">

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <form ng-submit="newAsk()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="wish.name">
      </div>
      <div class="form-group">
        <label for="wish">Wish</label>
        <input type="text" class="form-control" id="wish" placeholder="Ask Santa for a wish" ng-model="wish.wish">
      </div>
      <button type="submit" class="btn btn-block btn-success">Ask Santa</button>
    </form>

    <div ng-show="wish.state == 'unopened' || wish.state == 'opened'">
      Asking santa
    </div>

    <small class="debug" ng-show="false"><pre>{{wish | json}}</pre></small>

    <div style="position: fixed; bottom: 3px; right: 3px;">
      <button class="btn btn-default" ng-click="login()">Santa</button>
    </div>
  </div>
</div>

<div class="debug">
<button class="btn btn-warning" type="button" ng-click="testNiceModal()">Open NICE Modal</button>
<button class="btn btn-warning" type="button" ng-click="testNaughtyModal()">Open NAUGHTY Modal</button>
</div>
</div>
</div>